{%- assign_social_urls = site.social_media | default: site.minima.social_links -%}
{%- if _social_urls -%}
<ul class="social-media-list">
  {%- for _profile in _social_urls -%}
    <li>
      <a href="{{ _profile.url | escape }}">
        <svg class="svg-icon">
          <use xlink:href="{{ '/assets/minima-social-icons.svg#' | append: _profile.platform | relative_url }}"></use>
        </svg>
        <span class="username">{{ _profile.username | escape }}</span>
      </a>
    </li>
  {%- endfor -%}
</ul>
{%- endif -%}
